<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
  <head>
    <title>Secret Service</title>
    <link type='text/css' rel='stylesheet' href='/static/style.css'/>
    <link type='text/css' rel='stylesheet' href='/static/theme-{{ config['theme'] }}.css'/>
    <link rel='icon' href='/static/favicon.ico'>
  </head>
  <body>
    <div id='header'>
      <h2>Secret Service</h2>
    </div>
    <div id='content'>
      <div id='left-content'></div>
      <div id='right-content'>
        <img src='/static/spy.png'>
      </div>
      <div id='inner-content'>
        {% block content %}{% endblock %}
      </div>
    </div>
    <div id='footer'>
      quimby | <a href=https://github.com/notonthehighstreet/quimby>GitHub</a>
    </div>
  </body>
</html>
